@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--primary-font);
    background-color: var(--gray);
}

html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
    margin-top: 15rem;
  }