@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --primary-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--primary-font);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--gray);
    border: 1px solid black;
}

.logo-victor{
    width: 180px;
}

.navbar .navbar-content {
    padding: 3rem 4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-content .navbar-links li {
    display: inline-block;
}

.navbar .navbar-content .navbar-links li:not(:last-of-type) {
    margin-right: 2rem;
}

.navbar .navbar-content .navbar-links a {
    text-decoration: none;
    color: var(--cor4);
    padding: 1rem;
    display: inline-block;
    
}

.navbar .navbar-content .navbar-links a:hover {
    color: var(--cor2);
}

.navbar .navbar-content .navbar-mobile,
.navbar .navbar-content .navbar-mobile .mobile-links {
  display: none;
}