@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  
  /*  Cores  */
  --cor1: #9029ff;
  --cor2: #7B30CA;
  --cor3: #6F40A0;
  --cor4: #5B4375;
  --cor5: #302E33;
  --white: #ffffff;
  --gray: #f5f5f5;
  --gray-heavier: #eceaeac0;
  --black: #000000;

  /*  Fontes  */
  --primary-font: 'DM Sans', sans-serif;
  --secondary-font: 'Georgia', serif;
}

