:root {

    --cor1: #7E10F5;
    --cor2: #7B30CA; 
    --cor3: #6F40A0; 
    --cor4: #5B4375; 
    --cor5: #302E33; 

    --fonte-principal: 'Arial', sans-serif; 
    --fonte-secundaria: 'Georgia', serif; 
  }