.about {
    display: flex;
    justify-content: center; 
    align-items: center; 
    scroll-margin-top: 20rem;
}

.about .about-text { 
    text-align: center;
    flex: 1;
    max-width: 66rem;
}

@media only screen and (max-width: 768px) {
.about {
    flex-direction: column;
    align-items: center;
}

.about .about-text {
    max-width: 66rem;
    text-align: center;
}

}