header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 20rem;
    margin-right: 100px;
}

header .header-left {
  max-width: 62rem;
  flex: 1;
  padding: -100px;
  margin-top: 50px;
  margin-bottom: 180px;
}

header .header-left h1 {
  color: var(--black);
  letter-spacing: -0.2rem;
}

header .header-left h2 {
  color: var(--cor1);
  font-size: 3rem;
  font-weight: lighter;
}

header .header-left p {
  margin-top: 2rem;
  margin-bottom: 5.5rem;
  max-width: 50rem;
}

.btn {
  background-color: none;
  border: none;
  outline: none;
  font-weight: 500;
  padding: 2.1rem 4.1rem;
  display: inline-block;
  border-radius: 0.2rem;
  border: 2px solid var(--cor1);
}

.btn.btn-first {
  background-color: var(--cor1);
  color: var(--white);
  font-size: 1.4rem;
  margin-right: 30px;
}

.btn.btn-first:hover {
  background-color: var(--cor3);
  border: 2px solid var(--cor3);
}

.btn.btn-second {
  background-color: transparent;
  color: var(--cor1);
  font-size: 1.4rem;
}

.btn.btn-second:hover {
  color: var(--cor3);
  border: 2px solid var(--cor3);
}

header .header-left .social-media {
  transform: translateY(100px);
  margin-left: -0.5rem;
}

header .header-left .social-media li {
  display: inline-block;
}

header .header-left .social-media li a {
  display: inline-block;
  padding: 1rem;
}

header .header-right .header-image {
  position: relative;
}

header .header-right .header-image {
  position: relative;
  line-height: 0;
}

header .header-right .header-image .profile-image {
  border-radius: 0.5rem;
  min-width: 25rem;
  max-width: 100%;
  padding-top: -100px;
  transform: translateY(-65px);
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    text-align: center;
  }

  header .header-right .header-image .profile-image {
    transform: translateY(0px);
  }

  header .header-left p {
    margin: 1rem auto 4rem;
  }
}



